.top-nav-wrap {
  text-align: center; }
  .top-nav-wrap .container {
    margin-top: 0;
    margin-bottom: 0; }

.top-nav {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: inline-block; }
  .top-nav:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .top-nav li {
    float: left; }
  .top-nav a {
    padding: 15px;
    background: none;
    font-size: 14px; }

.banner {
  text-align: center;
  padding: 10px 0;
  border-bottom: solid 1px #e1e1e1; }
  .banner h3 {
    display: inline-block;
    margin: 5px; }
  .banner a {
    display: block;
    background: none !important;
    font-weight: 100;
    font-size: 36px; }

.paging .left {
  margin-left: -424px; }
.paging .right {
  margin-left: 404px; }

section.post .highlight {
  padding: 0;
  margin: 0 60px;
  border-radius: 4px; }
  section.post .highlight pre {
    padding: 1em;
    border-radius: 4px; }

.container {
  max-width: 768px; }
  .container.main {
    background: #fff;
    border: 1px solid #eee; }

@media (max-width: 480px) {
  body {
    padding: 0; } }
